*{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
}

.navbar {
    padding: 20px;
}

.form-control {
    width: 200px;
    padding: 20px;
    margin: 60px 20px;
    background-color: #ffff;
}

.origen {
    margin-right: 0;
}

.destino {
    margin-left: 0;
}

#formulario {
    width: 70% ;
    margin: -40px auto;
    padding: 40px;
}

.section1{
    background-color: rgb(5, 5, 48);
    margin-bottom: -16px;
}

.btn {
    padding: 20px;
    height: 65.6px;
    margin-top: 60px;
    border-radius: 20px;
}

.text-white {
    text-align: center;
    padding-top: 20px;
}

.section2 {
    background-color: #e6e6fa;
    padding: 20px;
}

.carousel {
    width: 90%;
    margin: auto;
}

.card-group {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    gap: 20px;
    
}

.card-img-top{
    width: 100%;
    height: 220px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }

  /* seccion ofertas */

  .section__ofertas {
    display: flex;
    justify-content: space-around;
    background-color: #f4f3f9;
}

.aside {
    width: 200px;
    height: 300px;
    margin-top: 250px;
}

.aside__titulo {
    margin-bottom: 30px;
    font-size: 30px;
    color: #333236;
}

.aside__card {
    background-color: #ffff;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 300px;
    border: solid 1px gray;
}

.ofertas__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 5fr; 
    row-gap: 200px;
    column-gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ofertas {
    background-color: #ffff;
    width: 300px;
    height: 500px;
    border-radius: 10px;

}

.ofertas__imagen {
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ofertas__titulo {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: #333236;
}

.ofertas__parrafo {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.exclusiva {
    padding: 6px;
    margin-top: 40px;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
}

.ofertas__precio {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}


   .card-title {
    color: black;
    font-size: 30px;
    text-align: center;
    border-top: solid 2px black;
    padding-top: 15px;
   }

   /* contactanos */

   #exampleFormControlInput1,
   #exampleFormControlTextarea1 {
    padding: 10px;
    margin-top: 0;
    max-width: 200px;
    max-height: 100px;
    margin-left: 0;
   }

   .mb-3 {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
   }



   /* alojamientos */

   .alojamientos {
    background-color: crimson;
   }

   .actividades {
    background-color: deepskyblue;
   }

   .carta-acostada {
    max-height: 200px;
    max-width: 540px;
    width: 1000px;
   }

   .rounded-start {
    height: 100%;
    width: 100%;
   }




