*{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
}

.navbar {
    padding: 20px;
}


.form-control {
    width: 200px;
    padding: 20px;
    margin: 60px 20px;
    background-color: #ffff;
}

.origen {
    margin-right: 0;
}

.destino {
    margin-left: 0;
}

#formulario {
    width: 70% ;
    margin: -40px auto;
    padding: 40px;
}

.section1{
    background-color: rgb(5, 5, 48);
    margin-bottom: -16px;
}

.btn {
    padding: 20px;
    height: 65.6px;
    margin-top: 60px;
    border-radius: 20px;
}

.text-white {
    text-align: center;
    padding-top: 20px;
}

.section2 {
    background-color: #e6e6fa;
    padding: 20px;
}

.carousel {
    width: 90%;
    margin: auto;
}

.card-group {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    gap: 20px;
    
}

.card-img-top{
    width: 100%;
    height: 220px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }

  /* seccion ofertas */

  .section__ofertas {
    display: flex;
    justify-content: space-around;
    background-color: #f4f3f9;
}

.aside {
    width: 200px;
    height: 300px;
    margin-top: 250px;
}

.aside__titulo {
    margin-bottom: 30px;
    font-size: 30px;
    color: #333236;
}

.aside__card {
    background-color: #ffff;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 300px;
    border: solid 1px gray;
}

.ofertas__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 5fr; 
    row-gap: 200px;
    column-gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ofertas {
    background-color: #ffff;
    width: 300px;
    height: 500px;
    border-radius: 10px;

}

.ofertas__imagen {
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ofertas__titulo {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: #333236;
}

.ofertas__parrafo {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.exclusiva {
    padding: 6px;
    margin-top: 40px;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
}

.ofertas__precio {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}


   .card-title {
    color: black;
    font-size: 30px;
    text-align: center;
    border-top: solid 2px black;
    padding-top: 15px;
   }


   /* alojamientos */

   .alojamientos {
    background-color: crimson;
   }

   .actividades {
    background-color: deepskyblue;
   }

   .carta-acostada {
    max-height: 200px;
    max-width: 540px;
    width: 1000px;
   }

   .rounded-start {
    height: 100%;
    width: 100%;
   }

   /* actividades */
   .col-md-4 {
    max-width: 500px;
    max-height: 300px;
    padding-right: 20px;
    border-radius: 10px;
    min-width: 350px;
   }

   .carta-actividades {
    margin-top: 60px;
    padding: 10px;
    background-color: #f4f3f9;
    border-radius: 10px;
    border: solid 1px #333236;
   }

   .parrafo-container {
    border-bottom: black 1px solid;
    padding-top: 20px;
    padding-bottom: 70px;
   }

   .shadow {
    margin: auto;
    height: 100vh;
   }

   /* contactanos */

   .contactanos {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    margin: auto;
    background-color: #f4f3f9;
    color: white;
    padding: 20px;
    position: relative;
    top: 40px;
    min-width: 300px;
   }

   #mensaje {
    width: 80%;
    max-height: 200px;
    min-height: 150px;
    margin-top: 20px;
   }

   .div-contactanos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
    margin: auto;
   }

   .input-contactanos {
    border: none;
    border-bottom: solid #ffff 3px;
    background-color: none;
    background-color: transparent;
    text-decoration: none;
    color: #333236;
    width: 100%;
    height: 30px;
    transition: all 0.5s;
   }

   .input-contactanos:focus {
    height: 50px;
   }

   .boton-contactanos {
    width: 80%;
    margin: auto;
    padding: 6px;
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    animation-name: slidelin;
   }

   .boton-contactanos:hover {
    background-color: #e6e6fa;
   }

   .label-contactanos {
    color: #ffff;
   }

   ::placeholder {
    color: #ffff;

   }

   /* responsive */

   .form-responsive, .text, .carousel-responsive {
    display: none;
   }

   @media screen and (max-width:1100px) {
    .form-general {
        display: none;
    }

    .form-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: -8px;
    }

    .text {
        text-align: center;
        background-color: lightblue;
        color: #ffff;
        padding: 7px;
        display: block;
    }

    .form-control {
        margin: 6px;
        margin-top: 10px;
        width: 50%;
    }

    .first {
        margin-top: 30px;
    }

    .btn {
        margin-top: 10px;
       height: 50px;
       padding: 4px;
       width: 100px;
    }

    .div-responsive {
        height: 540px;
    }

    /* contactanos */

    .contactanos {
        height: 500px;
    }

    /* ofertas */

    .aside {
        display: none;
    }

    .ofertas__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
    }

   }

   @media screen and (max-width:450px) {


    /* ofertas */
    .aside {
        display: none;
    }

    .ofertas__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /* carousel */

    .section2 {
        display: none;
    }

    .carousel-responsive {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 300px;
    }

    .img-responsive {
        width: 100%;
        height: 400px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        filter: invert(108%);
      }

      /* actividades */

      .carta-actividades {
        display: flex;
        flex-direction: column;
      }
    
   }

   