.form-control {
    width: 200px;
    padding: 20px;
    margin: 60px 20px;
    background-color: $maincolor;
}

.origen {
    margin-right: 0;
}

.destino {
    margin-left: 0;
}

#formulario {
    width: 70% ;
    margin: -40px auto;
    padding: 40px;
}

.section1{
    background-color: rgb(5, 5, 48);
    margin-bottom: -16px;
}

.btn {
    padding: 20px;
    height: 65.6px;
    margin-top: 60px;
    border-radius: 20px;
}

.text-white {
    text-align: center;
    padding-top: 20px;
}