.section2 {
    background-color: #e6e6fa;
    padding: 20px;
}

.carousel {
    width: 90%;
    margin: auto;
}

.c-block {
    height: 20px;
}

.card-group {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    gap: 20px;
    
}

.card-img-top{
    width: 100%;
    height: 220px;
}

.card-title {
    color: black;
    font-size: 30px;
    text-align: center;
    border-top: solid 2px black;
    padding-top: 15px;
   }


.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }