.section__ofertas {
    display: flex;
    justify-content: space-around;
    background-color: #f4f3f9;
}

@mixin tamaño ($ancho, $alto) {
    width: $ancho;
    height: $alto; 
}

.aside {
    @include tamaño(200px, 300px );
    margin-top: 250px;
}

.aside__titulo {
    margin-bottom: 30px;
    font-size: 30px;
    color: #333236;
}

.aside__card {
    background-color: #ffff;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 300px;
    border: solid 1px gray;
}

.ofertas__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 5fr; 
    row-gap: 200px;
    column-gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ofertas {
    background-color: #ffff;
   @include tamaño(300px, 500px );
    border-radius: 10px;
}

.ofertas__imagen {
    @include tamaño(100%, 40% );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ofertas__titulo {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: #333236;
}

.ofertas__parrafo {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.exclusiva {
    padding: 6px;
    margin-top: 40px;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
}

.ofertas__precio {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}