$maincolor: #ffff;



%boton {
    padding: 20px;
    height: 65.6px;
    margin-top: 60px;
    border-radius: 20px;

    &:hover {
        background-color: darkred;
    }
}

$colores : (
    'primary':#ffff,
    'secondary':rgb(5, 5, 48),
    'danger': red
)